body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:487px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3403 {
  position:absolute;
  left:37px;
  top:120px;
  width:294px;
  height:487px;
}
#u3404 {
  position:absolute;
  left:2px;
  top:236px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u3406 {
  position:absolute;
  left:37px;
  top:563px;
  width:296px;
  height:44px;
  font-size:18px;
  color:#999999;
}
#u3407 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u3408 {
  position:absolute;
  left:175px;
  top:570px;
  width:20px;
  height:19px;
}
#u3409 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u3410 {
  position:absolute;
  left:76px;
  top:570px;
  width:15px;
  height:20px;
}
#u3411 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u3412 {
  position:absolute;
  left:284px;
  top:570px;
  width:24px;
  height:17px;
}
#u3413 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u3414 {
  position:absolute;
  left:69px;
  top:592px;
  width:23px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u3415 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u3416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3416 {
  position:absolute;
  left:174px;
  top:593px;
  width:22px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3417 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u3418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3418 {
  position:absolute;
  left:286px;
  top:591px;
  width:22px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3419 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u3420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u3420 {
  position:absolute;
  left:634px;
  top:360px;
  width:9px;
  height:8px;
}
#u3421 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u3422 {
  position:absolute;
  left:638px;
  top:368px;
  width:1px;
  height:5px;
}
#u3423 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u3424 {
  position:absolute;
  left:634px;
  top:373px;
  width:9px;
  height:1px;
}
#u3425 {
  position:absolute;
  left:2px;
  top:-8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u3426 {
  position:absolute;
  left:237px;
  top:413px;
  width:71px;
  height:71px;
}
#u3427 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  word-wrap:break-word;
}
#u3428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u3428 {
  position:absolute;
  left:69px;
  top:413px;
  width:71px;
  height:71px;
}
#u3429 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  word-wrap:break-word;
}
#u3430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:487px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3430 {
  position:absolute;
  left:506px;
  top:120px;
  width:294px;
  height:487px;
}
#u3431 {
  position:absolute;
  left:2px;
  top:236px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u3433 {
  position:absolute;
  left:506px;
  top:563px;
  width:296px;
  height:44px;
  font-size:18px;
  color:#999999;
}
#u3434 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u3435 {
  position:absolute;
  left:644px;
  top:570px;
  width:20px;
  height:19px;
}
#u3436 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u3437 {
  position:absolute;
  left:545px;
  top:570px;
  width:15px;
  height:20px;
}
#u3438 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u3439 {
  position:absolute;
  left:753px;
  top:570px;
  width:24px;
  height:17px;
}
#u3440 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u3441 {
  position:absolute;
  left:538px;
  top:592px;
  width:23px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u3442 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u3443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3443 {
  position:absolute;
  left:643px;
  top:593px;
  width:22px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3444 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u3445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3445 {
  position:absolute;
  left:755px;
  top:591px;
  width:22px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u3446 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u3447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:162px;
}
#u3447 {
  position:absolute;
  left:580px;
  top:249px;
  width:159px;
  height:162px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3448 {
  position:absolute;
  left:2px;
  top:73px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:121px;
}
#u3449 {
  position:absolute;
  left:598px;
  top:268px;
  width:124px;
  height:121px;
}
#u3450 {
  position:absolute;
  left:2px;
  top:26px;
  width:120px;
  word-wrap:break-word;
}
#u3451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:39px;
}
#u3451 {
  position:absolute;
  left:651px;
  top:334px;
  width:7px;
  height:39px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u3452 {
  position:absolute;
  left:2px;
  top:6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u3453 {
  position:absolute;
  left:706px;
  top:435px;
  width:71px;
  height:71px;
}
#u3454 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  word-wrap:break-word;
}
#u3455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u3455 {
  position:absolute;
  left:538px;
  top:435px;
  width:71px;
  height:71px;
}
#u3456 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  word-wrap:break-word;
}
#u3457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3457 {
  position:absolute;
  left:49px;
  top:252px;
  width:258px;
  height:32px;
}
#u3458 {
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3459 {
  position:absolute;
  left:73px;
  top:203px;
  width:237px;
  height:136px;
}
#u3460 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u3461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u3461 {
  position:absolute;
  left:602px;
  top:189px;
  width:109px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u3462 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3463 {
  position:absolute;
  left:614px;
  top:304px;
  width:100px;
  height:30px;
  font-size:28px;
}
#u3464 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3465 {
  position:absolute;
  left:37px;
  top:353px;
  width:294px;
  height:32px;
}
#u3466 {
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3467 {
  position:absolute;
  left:69px;
  top:360px;
  width:87px;
  height:18px;
}
#u3468 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3469 {
  position:absolute;
  left:218px;
  top:360px;
  width:87px;
  height:18px;
}
#u3470 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3471 {
  position:absolute;
  left:301px;
  top:362px;
  width:9px;
  height:15px;
  color:#FFFFFF;
}
#u3472 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3473 {
  position:absolute;
  left:37px;
  top:120px;
  width:294px;
  height:48px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3474 {
  position:absolute;
  left:2px;
  top:14px;
  width:290px;
  word-wrap:break-word;
}
#u3475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3475 {
  position:absolute;
  left:37px;
  top:120px;
  width:88px;
  height:48px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3476 {
  position:absolute;
  left:2px;
  top:1px;
  width:84px;
  word-wrap:break-word;
}
#u3477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3477 {
  position:absolute;
  left:240px;
  top:120px;
  width:91px;
  height:48px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3478 {
  position:absolute;
  left:2px;
  top:1px;
  width:87px;
  word-wrap:break-word;
}
#u3479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3479 {
  position:absolute;
  left:506px;
  top:120px;
  width:294px;
  height:48px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3480 {
  position:absolute;
  left:2px;
  top:14px;
  width:290px;
  word-wrap:break-word;
}
#u3481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3481 {
  position:absolute;
  left:506px;
  top:120px;
  width:88px;
  height:48px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3482 {
  position:absolute;
  left:2px;
  top:1px;
  width:84px;
  word-wrap:break-word;
}
#u3483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3483 {
  position:absolute;
  left:709px;
  top:120px;
  width:91px;
  height:48px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#666666;
}
#u3484 {
  position:absolute;
  left:2px;
  top:1px;
  width:87px;
  word-wrap:break-word;
}
#u3485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3485 {
  position:absolute;
  left:55px;
  top:37px;
  width:209px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3486 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u3487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3488_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:201px;
  height:21px;
}
#u3488p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:193px;
  height:1px;
}
#u3488p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:203px;
  height:21px;
}
#u3488p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u3488p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u3488p002 {
  position:absolute;
  left:176px;
  top:-11px;
  width:22px;
  height:22px;
}
#u3488p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3488.compound {
  width:0px;
  height:0px;
}
#u3488 {
  position:absolute;
  left:305px;
  top:443px;
  width:191px;
  height:1px;
}
#u3489 {
  position:absolute;
  left:2px;
  top:-8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
}
#u3490 {
  position:absolute;
  left:301px;
  top:442px;
  width:7px;
  height:1px;
}
#u3491 {
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u3492 {
  position:absolute;
  left:355px;
  top:443px;
  width:55px;
  height:52px;
}
#u3493 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
  background:inherit;
  background-color:rgba(102, 255, 102, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3494 {
  position:absolute;
  left:237px;
  top:413px;
  width:71px;
  height:71px;
}
#u3495 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 255, 102, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3496 {
  position:absolute;
  left:55px;
  top:353px;
  width:269px;
  height:32px;
}
#u3497 {
  position:absolute;
  left:2px;
  top:8px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:41px;
}
#u3499 {
  position:absolute;
  left:301px;
  top:203px;
  width:23px;
  height:41px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3500 {
  position:absolute;
  left:2px;
  top:12px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u3501 {
  position:absolute;
  left:307px;
  top:225px;
  width:80px;
  height:58px;
}
#u3502 {
  position:absolute;
  left:2px;
  top:21px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:39px;
}
#u3503 {
  position:absolute;
  left:303px;
  top:252px;
  width:23px;
  height:39px;
}
#u3504 {
  position:absolute;
  left:2px;
  top:12px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u3505 {
  position:absolute;
  left:286px;
  top:353px;
  width:55px;
  height:52px;
}
#u3506 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:106px;
}
#u3507 {
  position:absolute;
  left:380px;
  top:177px;
  width:116px;
  height:106px;
}
#u3508 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:84px;
}
#u3509 {
  position:absolute;
  left:338px;
  top:495px;
  width:121px;
  height:84px;
}
#u3510 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u3511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3512_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:181px;
  height:21px;
}
#u3512p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:173px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3512p000_img {
  position:absolute;
  left:-5px;
  top:-15px;
  width:183px;
  height:21px;
}
#u3512p001 {
  position:absolute;
  left:85px;
  top:-86px;
  width:1px;
  height:2px;
}
#u3512p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u3512p002 {
  position:absolute;
  left:74px;
  top:71px;
  width:22px;
  height:22px;
}
#u3512p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3512.compound {
  width:0px;
  height:0px;
}
#u3512 {
  position:absolute;
  left:39px;
  top:556px;
  width:171px;
  height:1px;
}
#u3513 {
  position:absolute;
  left:2px;
  top:-8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1px;
}
#u3514 {
  position:absolute;
  left:122px;
  top:554px;
  width:5px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3515 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:86px;
}
#u3516 {
  position:absolute;
  left:65px;
  top:651px;
  width:121px;
  height:86px;
}
#u3517 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u3518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:70px;
}
#u3518 {
  position:absolute;
  left:341px;
  top:341px;
  width:116px;
  height:70px;
}
#u3519 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3521_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:120px;
  height:21px;
}
#u3521p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:111px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3521p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:121px;
  height:22px;
}
#u3521p001 {
  position:absolute;
  left:54px;
  top:55px;
  width:1px;
  height:2px;
}
#u3521p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u3521p002 {
  position:absolute;
  left:43px;
  top:-62px;
  width:22px;
  height:22px;
}
#u3521p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3521.compound {
  width:0px;
  height:0px;
}
#u3521 {
  position:absolute;
  left:206px;
  top:687px;
  width:110px;
  height:1px;
}
#u3522 {
  position:absolute;
  left:2px;
  top:-8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
}
#u3523 {
  position:absolute;
  left:260px;
  top:685px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3524 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u3525 {
  position:absolute;
  left:261px;
  top:742px;
  width:312px;
  height:1px;
}
#u3526 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3528_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:259px;
  height:21px;
}
#u3528p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:251px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3528p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:261px;
  height:21px;
}
#u3528p001 {
  position:absolute;
  left:124px;
  top:124px;
  width:1px;
  height:2px;
}
#u3528p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u3528p002 {
  position:absolute;
  left:113px;
  top:-132px;
  width:22px;
  height:22px;
}
#u3528p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3528.compound {
  width:0px;
  height:0px;
}
#u3528 {
  position:absolute;
  left:448px;
  top:619px;
  width:249px;
  height:1px;
}
#u3529 {
  position:absolute;
  left:2px;
  top:-8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
}
#u3530 {
  position:absolute;
  left:569px;
  top:614px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3531 {
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u3532 {
  position:absolute;
  left:355px;
  top:715px;
  width:152px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u3533 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u3534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u3534 {
  position:absolute;
  left:307px;
  top:698px;
  width:48px;
  height:45px;
}
#u3535 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
  background:inherit;
  background-color:rgba(102, 255, 102, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3536 {
  position:absolute;
  left:538px;
  top:435px;
  width:71px;
  height:71px;
}
#u3537 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u3538 {
  position:absolute;
  left:689px;
  top:347px;
  width:140px;
  height:1px;
}
#u3539 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3540 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3541_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:169px;
  height:21px;
}
#u3541p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:161px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3541p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:171px;
  height:21px;
}
#u3541p001 {
  position:absolute;
  left:79px;
  top:79px;
  width:1px;
  height:2px;
}
#u3541p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u3541p002 {
  position:absolute;
  left:68px;
  top:-87px;
  width:22px;
  height:22px;
}
#u3541p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3541.compound {
  width:0px;
  height:0px;
}
#u3541 {
  position:absolute;
  left:749px;
  top:268px;
  width:159px;
  height:1px;
}
#u3542 {
  position:absolute;
  left:2px;
  top:-8px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:1px;
}
#u3543 {
  position:absolute;
  left:826px;
  top:265px;
  width:4px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3544 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:88px;
}
#u3545 {
  position:absolute;
  left:816px;
  top:85px;
  width:140px;
  height:88px;
}
#u3546 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3547 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3548_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:171px;
  height:21px;
}
#u3548p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:163px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3548p000_img {
  position:absolute;
  left:-5px;
  top:-15px;
  width:173px;
  height:21px;
}
#u3548p001 {
  position:absolute;
  left:80px;
  top:-81px;
  width:1px;
  height:2px;
}
#u3548p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u3548p002 {
  position:absolute;
  left:69px;
  top:66px;
  width:22px;
  height:22px;
}
#u3548p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3548.compound {
  width:0px;
  height:0px;
}
#u3548 {
  position:absolute;
  left:664px;
  top:573px;
  width:161px;
  height:1px;
}
#u3549 {
  position:absolute;
  left:2px;
  top:-8px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1px;
}
#u3550 {
  position:absolute;
  left:742px;
  top:572px;
  width:5px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3551 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:179px;
}
#u3552 {
  position:absolute;
  left:675px;
  top:664px;
  width:168px;
  height:179px;
}
#u3553 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u3554 {
  position:absolute;
  left:531px;
  top:373px;
  width:30px;
  height:32px;
}
#u3555 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
  background:inherit;
  background-color:rgba(102, 255, 102, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3556 {
  position:absolute;
  left:518px;
  top:368px;
  width:55px;
  height:52px;
}
#u3557 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3558 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3559_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:277px;
  height:21px;
}
#u3559p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:269px;
  height:1px;
}
#u3559p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:279px;
  height:21px;
}
#u3559p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u3559p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u3559p002 {
  position:absolute;
  left:252px;
  top:-11px;
  width:22px;
  height:22px;
}
#u3559p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3559.compound {
  width:0px;
  height:0px;
}
#u3559 {
  position:absolute;
  left:568px;
  top:409px;
  width:267px;
  height:1px;
}
#u3560 {
  position:absolute;
  left:2px;
  top:-8px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:1px;
}
#u3561 {
  position:absolute;
  left:563px;
  top:408px;
  width:10px;
  height:1px;
}
#u3562 {
  position:absolute;
  left:2px;
  top:-8px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:261px;
}
#u3563 {
  position:absolute;
  left:845px;
  top:296px;
  width:297px;
  height:261px;
}
#u3564 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u3565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3565 {
  position:absolute;
  left:924px;
  top:456px;
  width:170px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3566 {
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u3567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u3567 {
  position:absolute;
  left:983px;
  top:503px;
  width:33px;
  height:32px;
}
#u3568 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u3569 {
  position:absolute;
  left:755px;
  top:614px;
  width:55px;
  height:52px;
}
#u3570 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3571 {
  position:absolute;
  left:799px;
  top:420px;
  width:44px;
  height:44px;
}
#u3572 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
  background:inherit;
  background-color:rgba(102, 255, 102, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3573 {
  position:absolute;
  left:706px;
  top:435px;
  width:71px;
  height:71px;
}
#u3574 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3575 {
  position:absolute;
  left:49px;
  top:315px;
  width:28px;
  height:28px;
}
#u3576 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
